# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production
.env.local
.env.development
.dev.vars

# macOS
.DS_Store

.secrets_tmp/
scripts/configure_cloudflare.sh
